# Dependencies
/node_modules

# Production
/build
/dist

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Misc
.DS_Store
*.pem

# Environment Variables
.env
.env*.local
.env*.development
.env*.production

# SQLite Database
*.db
*.db-journal
